{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
 <h3 class="text-white my-5">About Page</h3> 
 <p>If you don’t, then you’ve come to the right place. In 1994, when blogs began, a blog was more of a personal diary that people shared online. In this online journal, you could talk about your daily life or share about things that you were doing. Then, people saw an opportunity to communicate information in a new way online. Thus began the beautiful world of blogging.</p>
 <p>A blog is a website or part of a site that contains regularly-updated content about one or multiple topics. The term is short for “web log,” which means to log information on a website. 
    The content on a blog usually comes in the form of articles on individual web pages called blog posts. The article you’re reading is one such example. </p>
</div>

{% endblock content %}